<div  class="container">
        <ngx-slick-carousel class="carousel" 
        #slickModal="slick-carousel" 
        [config]="slideConfig" >
            <div ngxSlickItem *ngFor="let slide of imageUrls" class="slide">
            <img src="{{ slide.img }}" alt="" width="100%">
            </div>
        </ngx-slick-carousel>
</div>
<div  class="content_">
    <div  class="container content_area_set">
            <div  class="login_area">
                <form  action="https://www.memberbet.com/chkLogin" id="flogin" method="post" novalidate="" class="ng-untouched ng-pristine ng-valid">
                    <input  class="form-control input-text" id="txtUsername" name="user" placeholder="Username" required="" type="text">
                    <input  class="form-control input-text" id="txtPassword" name="pass" placeholder="Password" required="" type="password">
                    <div  class="login_btn">เข้าสู่ระบบ</div>
                </form>
            </div>
            <div _ngcontent-oex-c6="" class="titleContentBot"><div _ngcontent-oex-c6="" class="titleLeft">บทความ</div><div _ngcontent-oex-c6="" class="viewmore" routerlink="/news" tabindex="0" routerLink="/news"><img class="hover" style="width: 60px;" src="/assets/images/icon/all.png" alt=""></div></div>
            
            <div _ngcontent-oex-c6="" class="dataContentBot">
                    <div _ngcontent-oex-c6="" class="row">
                        <ng-container *ngFor="let todo of todoList; index as i; first as isFirst;let l = count">
                            <div _ngcontent-oex-c6="" class="col-sm newsArea" tabindex="0" routerLink="/news/news-detail/{{todo.adjust_page_title}}-{{todo.adjust_page_id}}">
                                <div _ngcontent-oex-c6="" class="image-news" [ngStyle]="{'background-image':'url('+todo.adjust_image+')'}">
                                    &nbsp;
                                    <!-- <img src="'/upload/files/{{todo.adjust_page_image_name}}.{{todo.adjust_page_image_type}}" alt=""> -->
                                </div>
                                <div _ngcontent-oex-c6="" class="text-news" style="color:white; height: 48px; overflow: hidden;"> {{todo.adjust_page_title}} </div>
                                <div class="date_news"> {{todo.adjust_page_create_date}} </div>
                            </div>
                        </ng-container>
                        <!-- <div _ngcontent-oex-c6="" class="col-sm newsArea" tabindex="0" ng-reflect-router-link="/news/news-detail,คนแรกของโลก!">
                            <div _ngcontent-oex-c6="" class="image-news"  style="background-image: url('http://betufa55.com/upload/files/2019-05-30_13-34-541559219694.jpg');"></div>
                            <div _ngcontent-oex-c6="" class="text-news" style="color:white; height: 60px; overflow: hidden;"> คนแรกของโลก!เปโดรซิวแชมป์ใหญ่ครบถ้วน </div>
                            <div class="date_news"> 10 ธันวาคม 2563 </div>
                        </div>
                        <div _ngcontent-oex-c6="" class="col-sm newsArea" tabindex="0" ng-reflect-router-link="/news/news-detail,อินเตอร์เด้ง">
                            <div _ngcontent-oex-c6="" class="image-news"  style="background-image: url('http://betufa55.com/upload/files/2019-05-30_13-34-541559219694.jpg');"></div>
                            <div _ngcontent-oex-c6="" class="text-news" style="color:white; height: 60px; overflow: hidden;"> อินเตอร์เด้งสปัลเล็ตติ สั่นสะเทือนถึงแมนยู </div>
                            <div class="date_news"> 10 ธันวาคม 2563 </div>
                        </div>
                        <div _ngcontent-oex-c6="" class="col-sm newsArea" tabindex="0" ng-reflect-router-link="/news/news-detail,เช็กชื่อดูมี">
                            <div _ngcontent-oex-c6="" class="image-news"  style="background-image: url('http://betufa55.com/upload/files/2019-05-30_13-34-541559219694.jpg');"></div>
                            <div _ngcontent-oex-c6="" class="text-news" style="color:white; height: 60px; overflow: hidden;"> เช็กชื่อดูมีใครบ้าง!โซลชาแจ้งบอร์ดโละ14แข้งภายใน2ปี </div>
                            <div class="date_news"> 10 ธันวาคม 2563 </div>
                        </div> -->
                    </div>
                </div>

            <div _ngcontent-jev-c3="" class="row sport_button">
                <div _ngcontent-jev-c3="" class="col col-6 col-sm-3 hvr-push no-padding top_banner aos-init aos-animate" data-aos="fade-right" data-aos-delay="200" data-aos-once="true" style="overflow: hidden; ">
                    <div _ngcontent-jev-c3="" class="sport_img tt_l tt_col_c banner_hover Parent fadeInLeft animated"><img _ngcontent-jev-c3="" class="tt_img_df" src="assets/images/icon/sport.jpg"></div>
                </div>
                <div _ngcontent-jev-c3="" class="col col-6 col-sm-3 hvr-push no-padding top_banner aos-init aos-animate" data-aos="fade-right" data-aos-delay="300" data-aos-once="true" style="overflow: hidden; ">
                    <div _ngcontent-jev-c3="" class="casino_img tt_l tt_col_c banner_hover Parent fadeInLeft animated"><img _ngcontent-jev-c3="" class="tt_img_df" src="assets/images/icon/casino.jpg"></div>
                </div>
                <div _ngcontent-jev-c3="" class="col col-6 col-sm-3 hvr-push no-padding top_banner aos-init aos-animate" data-aos="fade-right" data-aos-delay="200" data-aos-once="true" style="overflow: hidden; ">
                    <div _ngcontent-jev-c3="" class="sport_img tt_l tt_col_c banner_hover Parent fadeInLeft animated"><img _ngcontent-jev-c3="" class="tt_img_df" src="assets/images/icon/lotto.jpg"></div>
                </div>
                <div _ngcontent-jev-c3="" class="col col-6 col-sm-3 hvr-push no-padding top_banner aos-init aos-animate" data-aos="fade-right" data-aos-delay="300" data-aos-once="true" style="overflow: hidden; ">
                    <div _ngcontent-jev-c3="" class="casino_img tt_l tt_col_c banner_hover Parent fadeInLeft animated"><img _ngcontent-jev-c3="" class="tt_img_df" src="assets/images/icon/muaythai.jpg"></div>
                </div>
            </div>
            <div _ngcontent-jev-c3="" class="row sport_button" style="margin-top:0px">
                    <div _ngcontent-jev-c3="" class="col col-12 col-sm-6 hvr-push no-padding top_banner aos-init aos-animate" data-aos="fade-right" data-aos-delay="200" data-aos-once="true" style="overflow: hidden; ">
                        <div _ngcontent-jev-c3="" class=" tt_l tt_col_c banner_hover Parent fadeInLeft animated">
                            <img _ngcontent-jev-c3="" style="width: 100%;padding:5px;" class="tt_img_df" src="assets/images/icon/callcenter.jpg?v=1.1">
                        </div>
                    </div>
                    <div _ngcontent-jev-c3="" class="col col-12 col-sm-6 hvr-push no-padding top_banner aos-init aos-animate" data-aos="fade-right" data-aos-delay="300" data-aos-once="true" style="overflow: hidden; ">
                        <div _ngcontent-jev-c3="" class=" tt_l tt_col_c banner_hover Parent fadeInLeft animated">
                            <img _ngcontent-jev-c3="" style="width: 100%;padding:5px;"  class="tt_img_df" src="assets/images/icon/banking.jpg">
                        </div>
                    </div>
                </div>
            <!-- <div _ngcontent-jev-c3="" class="step_register">
                <div _ngcontent-jev-c3="" class="detailLeft"><img _ngcontent-jev-c3="" src="/assets/images/content/register.jpg"></div>
                <div _ngcontent-jev-c3="" class="detailRight"><img _ngcontent-jev-c3="" class="hvr-push" routerLink="/page/deposit" src="/assets/images/icon/deposit.jpg" tabindex="0" ng-reflect-router-link="/page/deposit"><img _ngcontent-jev-c3="" class="hvr-push" routerLink="/page/withdraw" src="/assets/images/icon/withdraw.jpg" tabindex="0" ng-reflect-router-link="/page/withdraw">
                    <a _ngcontent-jev-c3="" href="https://lin.ee/lpvoFA6" target="_bank"><img _ngcontent-jev-c3="" class="hvr-push" src="/assets/images/icon/tel.jpg"></a>
                </div>
            </div> -->
            <!-- <div _ngcontent-jev-c3="" class="header_bar aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-once="true" style="float: left;    padding-bottom: 30px;"><img _ngcontent-jev-c3="" src="/assets/images/content/sportandcasino.jpg"></div>
           
            <div _ngcontent-jev-c3="" class="row sport_button">
                <div _ngcontent-jev-c3="" class="col col-6 col-sm-3 hvr-push no-padding top_banner aos-init aos-animate" data-aos="fade-right" data-aos-delay="200" data-aos-once="true" style="overflow: hidden; ">
                    <div _ngcontent-jev-c3="" class="sport_img tt_l tt_col_c banner_hover Parent fadeInLeft animated"><img _ngcontent-jev-c3="" class="tt_img_df" src="assets/images/icon/baccarat.png"></div>
                </div>
                <div _ngcontent-jev-c3="" class="col col-6 col-sm-3 hvr-push no-padding top_banner aos-init aos-animate" data-aos="fade-right" data-aos-delay="200" data-aos-once="true" style="overflow: hidden; ">
                    <div _ngcontent-jev-c3="" class="sport_img tt_l tt_col_c banner_hover Parent fadeInLeft animated"><img _ngcontent-jev-c3="" class="tt_img_df" src="assets/images/icon/tiger-dragon.png"></div>
                </div>
                <div _ngcontent-jev-c3="" class="col col-6 col-sm-3 hvr-push no-padding top_banner aos-init aos-animate" data-aos="fade-right" data-aos-delay="300" data-aos-once="true" style="overflow: hidden; ">
                    <div _ngcontent-jev-c3="" class="casino_img tt_l tt_col_c banner_hover Parent fadeInLeft animated"><img _ngcontent-jev-c3="" class="tt_img_df" src="assets/images/icon/bean.png"></div>
                </div>
                <div _ngcontent-jev-c3="" class="col col-6 col-sm-3 hvr-push no-padding top_banner aos-init aos-animate" data-aos="fade-right" data-aos-delay="200" data-aos-once="true" style="overflow: hidden; ">
                    <div _ngcontent-jev-c3="" class="sport_img tt_l tt_col_c banner_hover Parent fadeInLeft animated"><img _ngcontent-jev-c3="" class="tt_img_df" src="assets/images/icon/sic-bo.png"></div>
                </div>
            </div>

            <div _ngcontent-jev-c3="" class="row sport_button">
                <div _ngcontent-jev-c3="" class="col col-6 col-sm-3 hvr-push no-padding top_banner aos-init aos-animate" data-aos="fade-right" data-aos-delay="200" data-aos-once="true" style="overflow: hidden; ">
                    <div _ngcontent-jev-c3="" class="sport_img tt_l tt_col_c banner_hover Parent fadeInLeft animated"><img _ngcontent-jev-c3="" class="tt_img_df" src="assets/images/icon/roulette.png"></div>
                </div>
                <div _ngcontent-jev-c3="" class="col col-6 col-sm-3 hvr-push no-padding top_banner aos-init aos-animate" data-aos="fade-right" data-aos-delay="300" data-aos-once="true" style="overflow: hidden; ">
                    <div _ngcontent-jev-c3="" class="casino_img tt_l tt_col_c banner_hover Parent fadeInLeft animated"><img _ngcontent-jev-c3="" class="tt_img_df" src="assets/images/icon/slot.png"></div>
                </div>
                <div _ngcontent-jev-c3="" class="col col-6 col-sm-3 hvr-push no-padding top_banner aos-init aos-animate" data-aos="fade-right" data-aos-delay="200" data-aos-once="true" style="overflow: hidden; ">
                    <div _ngcontent-jev-c3="" class="sport_img tt_l tt_col_c banner_hover Parent fadeInLeft animated"><img _ngcontent-jev-c3="" class="tt_img_df" src="assets/images/icon/football.png"></div>
                </div>
                <div _ngcontent-jev-c3="" class="col col-6 col-sm-3 hvr-push no-padding top_banner aos-init aos-animate" data-aos="fade-right" data-aos-delay="300" data-aos-once="true" style="overflow: hidden; ">
                    <div _ngcontent-jev-c3="" class="casino_img tt_l tt_col_c banner_hover Parent fadeInLeft animated"><img _ngcontent-jev-c3="" class="tt_img_df" src="assets/images/icon/muaythai.png"></div>
                </div>
            </div>

            <div _ngcontent-jev-c3="" class="header_bar aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-once="true" style="float: left;"><img _ngcontent-jev-c3="" src="/assets/images/content/playphone.png"></div>

            <div _ngcontent-jev-c3="" class="header_bar aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-once="true" style="float: left;"><img _ngcontent-jev-c3="" src="/assets/images/content/banking.jpg"></div> -->
    </div>
</div>

<div _ngcontent-gyx-c3="" attr="http://line.me/ti/p/~@vwin168" class="qr-popup"><i _ngcontent-gyx-c3="" aria-hidden="true" class="fa fa-window-close fa-6 close-qr"></i></div>